html {
	font: 100%/1.5 "Roboto", Verdana, sans-serif;
	text-align: center;
}

#formula {
	position: absolute;
	left: 45%;
	top: 83%;
	font-size: 20px;
    border: 2px solid #f35626;
    line-height: 1.375;
    font-weight: 700;
    color: #f35626;	/*F7D5CB*/
    padding-left: 1.5rem;
    padding-right: 1.5rem;    
    padding-top: .75rem;
    padding-bottom: .75em;
    margin: 0 auto;
    background-color: transparent;
    border-radius: 4px;
}

#load-bar {
  left:25%;
  position: absolute;
  top: 95%;
  width: 50%;
  height: 6px;
  background-color: #fdba2c;
  visibility: hidden;
}

.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}


#rd1 {
  position: absolute;
  clear: both;
  margin: 0 50px;
}

#rd2 {
  position: absolute;
  clear: both;
  top:10%;
  margin: 0 50px;
}

label {
  width: 200px;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
}

/* hide input */
input.radio:empty {
  margin-left: -999px;
}

/* style label */
input.radio:empty ~ label {
  position: relative;
  float: left;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.radio:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
  color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: #9CE2AE;
  background-color: #4DCB6D;
}

input.radio:checked ~ label {
  color: #777;
}

.bar:nth-child(1) {
  background-color: #da4733;
  animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
  background-color: #3b78e7;
  animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
  background-color: #fdba2c;
  animation: loading 3s linear 2s infinite;
}
@keyframes loading {
    from {left: 50%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}